body {
    margin: 0;
    padding: 0;
}

.start {
    padding: 20px;
    background-color: pink;
    margin: 0;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 8%;
}

.logo h2{
    float: left;
    margin-left: 240px;
}

.navbar {
    margin-right: 70px;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.navbar a {
    color: black;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 5%;
    flex-direction: row;
    width: 800px;
    height: 480px;
}

.hero-info {
    align-content: center;
    text-align: center;
}
.hero img {
    width: 35%;
    height: auto;
}